<div ng-repeat='post in publications' class="box box-widget">
    <div class="box-header with-border">
        <div class="user-block">
            <img class="img-circle" src="{{photo}}" alt="User Image">
            <span class="username"><a href="#">{{currentUser.name}}</a></span>
            <span class="description">Compartido publicamente - {{post.date}}</span>
        </div>
    </div>

    <div class="box-body" style="display: block;">
        <img class="img-responsive pad show-in-modal" src="{{post.photo}}" alt="Photo">
        <p>{{post.text}}</p>
        <button type="button" class="btn btn-default btn-xs"><i class="fa fa-share"></i> Share</button>
        <button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> Like</button>
        <span class="pull-right text-muted">{{post.likes.length}} likes - {{post.comments.length}} comments</span>
    </div>
    <div class="box-footer box-comments" style="display: block;">
        <div class="box-comment" ng-repeat='comment in post.comments'>
            <img class="img-circle img-sm" src="{{userImage(comment.userId)}" alt="User Image">
            <div class="comment-text">
                <span class="username">
                    {{comment.userName}}
                    <span class="text-muted pull-right">{{comment.date}}</span>
                </span>
                {{comment.text}}
            </div>
        </div>


    </div>
    <div class="box-footer" style="display: block;">
        <form action="#" method="post">
            <img class="img-responsive img-circle img-sm" src="img/Friends/guy-3.jpg" alt="Alt Text">
            <div class="img-push">
                <input type="text" class="form-control input-sm" placeholder="Press enter to post comment">
            </div>
        </form>
    </div>
</div>