<div class="box profile-info n-border-top">
    <form>
        <textarea ng-model='text' class="form-control input-lg p-text-area" rows="2" placeholder="Whats in your mind today?"></textarea>

    </form>
    <script>
    document.getElementById('camera_photo').onclick = function() {
    document.getElementById('upload_photo').click();
};
    </script>
    <div class="box-footer box-form">
        <button type="button" class="btn btn-azure pull-right" ng-click='submitPublication()'>Post</button>
        <ul class="nav nav-pills">
            <li><a href="#"><i class="fa fa-map-marker"></i></a></li>
            <li><a href="#"><i id="camera_photo" class="fa fa-camera"></i></a></li>
            <input type="file" id='upload_photo' ng-model='photo' ng-change='addPhoto()' base-sixty-four-input>
            <li><a href="#"><i class=" fa fa-film"></i></a></li>
            <li><a href="#"><i class="fa fa-microphone"></i></a></li>
        </ul>
    </div>
</div>