extends layout

block content
  #content
    form(action = '/enviar', method = 'post')
      br
      div It’s free and always will be. 
      br
      div
        .form-group
          .col-sm-10
            input.form-control(type ='text', name = 'fname', placeholder='First name')
            br
        .form-group
          .col-sm-10
            input.form-control(type ='text', name = 'lname', placeholder='Last name')
            br
        .form-group
          .col-sm-10
            input.form-control(name = 'email', placeholder='Mobile number or email')
            br
        .form-group
          .col-sm-10
            input.form-control(name = 'pass', placeholder='New Password')
            br
        .form-group
          .col-sm-10
            input(id='male', name = 'gender', type = 'radio')
            | Male
          .col-sm-10
            input(id= 'female', name = 'gender', type="radio")
            | Female
          br
          br
        .form-group
          .col-sm-10
              button.btn.btn-default(type='submit')
                | Sign up
