doctype html
html
  head
    title Social Network
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    script(type='application/x-javascript').
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    link(href='//fonts.googleapis.com/css?family=Poiret+One', rel='stylesheet', type='text/css')
    link(href='//fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900', rel='stylesheet', type='text/css')
    link(href='/css/animate-custom.css', rel='stylesheet', type='text/css', media='all')
    link(href='/css/style.css', rel='stylesheet', type='text/css', media='all')

    script(src='/angular/angular.min.js')
    script(src='/app.js')
    script(src='/javascripts/jquery-1.11.1.min.js')

